# Node
NODE_ENV="production|development"

# Gateway
GATEWAY_PORT=3000

# RabbitMQ
RABBIT_MQ_USERNAME="test"
RABBIT_MQ_PASSWORD="test"
RABBIT_MQ_PORT=5672
RABBIT_MQ_URI="amqp://[username]:[password]@rabbit:[port]"